html {
  background-color: #dbd6cf;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-family: 'Bevan', sans-serif;
  color: #ffffff;
  font-weight: bold;
}

header {
  background-color: #79756f;
  border-color: #595652;
}

.nav {
  list-style-type: none;
}
