html {
  background-color: #dbd6cf;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-family: 'Bevan', sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

header {
  background-color: #79756f;
  border-color: #595652;
  border-style: solid;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  color: #ffffff;
  display: inline;
}

nav a {
  display: inline-block;
  padding: .6em .5em .75em;
  background-color: #713837;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;
  border-radius: 10px;
}
